<body class="welcome-main">
  <%= image_tag 'food_tracker_logo.png', alt: 'FoodTracker Logo', class: 'welcome-logo' %>
  <h1>FoodTracker</h1>
  <h2>FoodTracker is a simple application to track your nutritional intake.</h2>
  <p>Click the button below to submit a food or drink entry.</p>
  <div class="actions">
    <%= link_to 'Add Food/Drink Entry', new_entry_log_path, class: 'btn btn-primary' %>
    <%= link_to 'View Entries', entry_logs_path, class: 'btn btn-secondary' %>
  </div>
</body>