table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
  background-color: var(--table-bg);
  border: 3px solid black;
}

.btn {
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--btn-bg);
  opacity: 0.8;
}

.btn-delete {
  background-color: #fb1100; 
}

.btn-delete:hover {
  background-color: #d32f2f;
  opacity: 0.8;
}

.welcome-logo {
  display: block;
  width: 30%;
  height: auto;
}

.logo {
  display: block;
  width: 10%;
  min-width: 75px;
  height: auto;
}

.form-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 10%; /* Ensures the logo doesn't overflow */
  height: auto; /* Maintains aspect ratio */
}


.welcome-main {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0px;
  margin: 10px;
}

h2 {
  font-size: 1.5em;
  margin: 5px;
}

p {
  font-size: 1.2em;
  margin: 5px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* ***************************** */

.totals-table, .table {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
  background-color: var(--table-bg);
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  border-color: var(--text-color);
}

tbody tr:hover {
  background-color: #747373;
}

@media (max-width: 768px) {
  .running-daily-totls, .table {
    overflow-x: auto;
    display: block;
  }

  table {
    min-width: 100%;
    background-color: var(--table-bg);
  }

  th, td {
    font-size: 14px;
    padding: 6px;
    border-color: var(--text-color);
  }

  .btn {
    font-size: 16px;
    text-align: center;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  form input[type="submit"] {
    width: 100%; /* Button takes full width on smaller screens */
    font-size: 0.9rem; /* Reduce font size for smaller screens */
  }

  .form-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%; /* Ensures the logo doesn't overflow */
    height: auto; /* Maintains aspect ratio */
  }
}

@media (max-width: 480px) {
  th, td {
    font-size: 12px;
    border-color: var(--text-color);
  }

  .btn {
    font-size: 14px;
    padding: 8px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}

.tables {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
  background-color: #525252;
}

h1 {
  text-align: center;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --table-bg: #b7b7b7;
  --btn-bg: #216405;
  --btn-text: #ffffff;
}

.logo-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

/* ******* form ******* */

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #9a9a9a;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

form div {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  color: var(--text-color);
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 90%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

input:focus,
select:focus {
  outline: none;
  border-color: var(--btn-bg);
  box-shadow: 0 0 5px rgba(33, 100, 5, 0.5);
}

.error-messages {
  color: red;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

form input[type="submit"] {
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  width: 50%;
}

form input[type="submit"]:hover {
  background-color: #1a5304;
}

.sign-out-wrapper form {
  all: unset;
  display: inline;
}

.entry-log-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}