<% content_for :title, "Editing entry log" %>

<h1>Editing entry log</h1>

<%= render "form", entry_log: @entry_log %>

<br>

<div>
  <%= link_to "Show this entry log", @entry_log %> |
  <%= link_to "Back to entry logs", entry_logs_path %>
</div>
